body {
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #F5F5F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #F59D0E;
  transition: color 0.15s;
}

ol {
  padding-left: 3em;
}

ol li::marker {
  font-size: 18px;
}

input[type='file'] {
  display: none;
}

textarea {
  border: none;
}

textarea:focus {
  border: solid 2px #8B8B8B;
}

.filter-value:hover * {
  color: #EE1313;
}
